<?xml version="1.0" encoding="UTF-8"?>
<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="adminhtml_sales_order_create_process_item_after">
        <observer name="paypal_subscription_quote_set_product" instance="PayPal\Subscription\Observer\AdminOrderProcessItemObserver"/>
    </event>
    <event name="catalog_product_edit_action">
        <observer name="setCurrentProductAdmintmlEdit" instance="PayPal\Subscription\Observer\Adminhtml\CurrentProduct" />
    </event>
    <event name="catalog_product_new_action">
        <observer name="setCurrentProductAdmintmlNew" instance="PayPal\Subscription\Observer\Adminhtml\CurrentProduct" />
    </event>
</config>
