<div class="subscriptions block block__subscription">
    <div class="block-title">
        <strong data-bind="i18n: 'Upcoming Orders'"></strong>
    </div>
    <!-- ko if: activeSubscriptions().length === 0 -->
        <p data-bind="i18n: 'You currently have no active subscriptions'"></p>
    <!-- /ko -->
    <!-- ko if: activeSubscriptions().length > 0 -->
        <!-- ko foreach: { data: elems, as: 'element' } -->
            <!-- ko template: element.getTemplate() --><!-- /ko -->
        <!-- /ko -->
    <!-- /ko -->
</div>
